# Copy thanh .env truoc khi chay: docker compose up -d
APP_SECRET_KEY=thay-bang-ket-qua-cua-openssl-rand-hex-32
APP_DEFAULT_USERNAME=admin
APP_DEFAULT_PASSWORD=doi-mat-khau-nay
APP_DEFAULT_FULL_NAME=Quan tri vien
APP_ACCESS_TOKEN_EXPIRE_MINUTES=480
APP_BATCH_API_BASE_URL=https://trolyhoso-hcc-admin.vnekyc.vn
APP_BATCH_API_SECRET=secret-do-doi-auto-fill-hcc-cap
